{% extends 'base.html' %}
{% load widget_tweaks %} 

{% block content %}

<div class="row">
  <div class="col-md-4 ml-auto mr-auto">
    <div class="card card-pricing bg-warning"><div class="card-body ">
        <div class="card-icon text-center border border-white rounded" style="overflow: hidden;">
          <i class="material-icons"  style="font-size: 22em;">account_tree</i>
        </div>
        <h2 class="card-title font-weight-bold">Battery Cable</h2>
        <a href="#" class="btn btn-white pull-right">Summary</a>
        </div>
    </div>
  </div>
  <div class="col-md-4 ml-auto mr-auto">
    <div class="card card-pricing bg-info"><div class="card-body ">
        <div class="card-icon text-center border border-white rounded" style="overflow: hidden;">
          <i class="material-icons"  style="font-size: 22em;">settings_input_component</i>
        </div>
        <h2 class="card-title font-weight-bold">Foiling</h2>
        <a href="{% url 'accounting_select' dept="FOILING" %}" class="btn btn-white pull-right">Summary</a>
        </div>
    </div>
  </div>
  <div class="col-md-4 ml-auto mr-auto">
    <div class="card card-pricing bg-danger"><div class="card-body ">
        <div class="card-icon text-center border border-white rounded" style="overflow: hidden;">
          <i class="material-icons"  style="font-size: 22em;">style</i>
        </div>
        <h2 class="card-title font-weight-bold">Komax</h2>
        <a href="{% url 'accounting_select' dept="KOMAX" %}" class="btn btn-white pull-right">Summary</a>
        </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block scriptNotReady %}

{% endblock scriptNotReady %}

{% block script %}


{% endblock script %}