{% extends 'base.html' %}

{% block content %}

<div class="row mt-5 pt-5">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 mt-5">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Delete Employee</h4>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mx-auto">
              <div class="col-12">
                <div class="text-center"><h2>Are You sure to Delete <strong>{{dr_form.control_no}}'s</strong> Profile and Data?</h2></div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                <button type="submit" class="btn btn-warning btn-block">Yes</button>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <a class="btn btn-danger btn-block" href="{% url 'komax_home' %}?page={{page}}">No</a>
              </div>
            </div>
          </form>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}