{% extends 'base.html' %}
{% load humanize %}

{% block titlePage %}DASHBOARD{% endblock titlePage %}

{% block content %}

<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">insert_invitation</i>
        </div>
        <p class="card-category">Date Today</p>
        <h3 class="card-title ">
          <span >{% now "M d, Y" %}</span>
          <br>
          {% comment %} <hr style="margin:0 !important; padding:0 !important; line-height:0px;"  class="border-top">
          <span style="font-size: .5em;"></span> &nbsp;
          <span class="text-primary"></span> {% endcomment %}
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">thumb_up_alt</i>Be Productive and Keep Safe
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">sd_storage</i>
        </div>
        <p class="card-category">Server Storage</p>
        <h3 class="card-title">
          <span>{{used_memory}}<span class="h6">GB</span> / {{total_memory}}<span class="h6">GB</span></span>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">memory</i> 
          <span class="font-weight-bold {% if free_memory < used_memory %} text-danger {% else %} text-success {% endif %}">{{free_memory}}</span> <span style="font-size: .8em;">GB</span> &nbsp; Free
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">local_fire_department</i>
        </div>
        <p class="card-category">Server Temperature</p>
        <h3 class="card-title">
          <span>{{temperature}}</span>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">whatshot</i> 
          <span>Feel the Heat</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header card-header-success">
        <div class="ct-chart" id="komaxChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">KOMAX</h4>
        <p class="card-category">
          Status of <span class="text-success font-weight-bold">CLOSED</span> and
          <span class="text-danger font-weight-bold">OPEN/WAITING</span> Control no.
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">bar_chart</i> Data from last 7 working days
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header card-header-info">
        <div class="ct-chart" id="foilingChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">FOILING</h4>
        <p class="card-category">
          Status of <span class="text-success font-weight-bold">CLOSED</span> and
          <span class="text-danger font-weight-bold">OPEN/WAITING</span> Control no.
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">bar_chart</i> Data from last 7 working days
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block script %}
  var komax_lbl =[]
  var komax_open =[]
  var komax_closed =[]
  {% for key, val in komax_data.items %}
    komax_lbl[{{forloop.counter0}}] = "{{key}}";
    komax_open[{{forloop.counter0}}] = {{val.OPEN}};
    komax_closed[{{forloop.counter0}}] = {{val.CLOSED}};
  {% empty %}
    komax_lbl = ['', '', '', '', '', '',]
    komax_open = [0, 0, 0, 0, 0, 0,]
    komax_closed = [0, 0, 0, 0, 0, 0,]
  {% endfor %}
  var komax_data = {lbl:komax_lbl, open:komax_open, closed:komax_closed}
  
  var foiling_lbl =[]
  var foiling_open =[]
  var foiling_closed =[]
  {% for key, val in foiling_data.items %}
    foiling_lbl[{{forloop.counter0}}] = "{{key}}";
    foiling_open[{{forloop.counter0}}] = {{val.OPEN}};
    foiling_closed[{{forloop.counter0}}] = {{val.CLOSED}};
  {% empty %}
    foiling_lbl = ['', '', '', '', '', '',]
    foiling_open = [0, 0, 0, 0, 0, 0,]
    foiling_closed = [0, 0, 0, 0, 0, 0,]
  {% endfor %}
  var foiling_data = {lbl:foiling_lbl, open:foiling_open, closed:foiling_closed}
  md.initDashboardPageCharts(komax_data, foiling_data);
{% endblock script %}