{% extends 'base.html' %}
{% load widget_tweaks %} 

{% block content %}

<div class="row">
  <div class="col-md-9">
    <div class="card pb-0 mb-0">
      <div class="card-header card-header-primary">
        <h4 class="card-title w-50">DR Items</h4>
        {% if dr_items|length < 10 and dr_form.status.value == "OPEN" %}
        <button id="new_item_btn" class="btn btn-secondary p-2 mt-0 pt-0 pb-0 mb-0 float-left" style="position:absolute; top:13px; right:5px;" data-toggle="modal" data-target="#dritemModal" onclick="drItemTransaction('')">
          <i class="material-icons">add_to_photos</i> &nbsp; New Item
        </button>
        {% endif %}
      </div>
      <div class="card-body pb-0 pt-0">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <tr>
                <th class="pt-0 pb-0" rowspan=2>No.</th>
                <th class="pt-0 pb-0" rowspan=2>Product No.</th>
                <th class="pt-0 pb-0" rowspan=2>Wos No.</th>
                <th class="pt-0 pb-0 text-center" colspan=5>Quantity</th>
                {% if dr_form.status.value == "OPEN" %}
                  <th class="pt-0 pb-0" rowspan=2></th>
                {% endif %}
              </tr>
              <tr>
                <th class="pt-0 pb-0">1st</th>
                <th class="pt-0 pb-0">2nd</th>
                <th class="pt-0 pb-0">3rd</th>
                <th class="pt-0 pb-0">4th</th>
                <th class="pt-0 pb-0">5th</th>
              </tr>
            </thead>
            <tbody>
            {% for item in dr_items %}
              <tr class="">
                <td id="seqtd" class=" pt-2 pb-1">{{forloop.counter}}</td>
                <td id="prodtd" class=" pt-2 pb-1 h5">{{item}}</td>
                <td id="wostd" class=" pt-2 pb-1 h5">{{item.wos_no}}</td>
                <td id="firsttd" class="quantity pt-2 pb-1 h5">{{item.first_quantity}}</td>
                <td id="secondtd" class="quantity pt-2 pb-1 h5">{{item.second_quantity}}</td>
                <td id="thirdtd" class="quantity pt-2 pb-1 h5">{{item.third_quantity}}</td>
                <td id="fourthtd" class="quantity pt-2 pb-1 h5">{{item.fourth_quantity}}</td>
                <td id="fifthtd" class="quantity pt-2 pb-1 h5">{{item.fifth_quantity}}</td>
                {% if dr_form.status.value == "OPEN" %}
                  <td id="actiontd" class="td-actions pt-0 pb-0 pl-0 text-right">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-toggle="tooltip" data-target="#dritemModal" data-placement="top" title="Edit" onclick="drItemTransaction('{{item.pk}}', '{{item.product_no}}', '{{item.wos_no}}', {{item.first_quantity}})">
                        <i class="material-icons">edit</i>
                    </button type="button">
                    {% url 'komax_delete_item' pk=item.pk as delete_url %}
                    <a class="btn btn-danger ml-2" href="{{delete_url}}" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="material-icons">close</i>
                    </a>
                  </td>
                {% endif %}
              </tr> 
            {% empty %}
              <tr>
                <td colspan=9 class="h3 text-center">No Data to Display</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title text-center">Control No. <span class="font-weight-bold h3">{{cnum}}</span></h4>
    </div>
    <div class="card-body">
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {% comment %} <label class="bmd-label-floating">Control No.</label> {% endcomment %}
                {% render_field dr_form.control_no class="form-control h5 font-weight-bold" type="hidden" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Date</label>
                {% if dr_form.status.value == "WAITING" %}
                  {% render_field dr_form.date_created|attr:"disabled:True" class="form-control h5 font-weight-bold" %}
                {% else %}
                  {% render_field dr_form.date_created class="form-control h5 font-weight-bold" %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group input-group-prepend">
                <label class="bmd-label-floating mr-2" >Customer</label>
                {% if dr_form.status.value == "WAITING" %}
                  {% render_field dr_form.customer|attr:"disabled:True" class="form-control h5 font-weight-bold" %}
                {% else %}
                  {% render_field dr_form.customer class="form-control h5 font-weight-bold" %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group input-group-prepend">
                <label class="bmd-label-floating ">Line</label>
                {% if dr_form.status.value == "WAITING" %}
                  {% render_field dr_form.line|attr:"disabled:True" class="form-control h5 font-weight-bold" %}
                {% else %}
                  {% render_field dr_form.line class="form-control h5 font-weight-bold" %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group input-group-prepend">
                <label class="bmd-label-floating ">Approver</label>
                {% if dr_form.status.value == "WAITING" %}
                  {% render_field dr_form.approver|attr:"disabled:True" class="form-control h5 font-weight-bold" %}
                {% else %}
                  {% render_field dr_form.approver class="form-control h5 font-weight-bold" %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group input-group-prepend">
                <label class="bmd-label-floating ">Status</label>
                {% if dr_items|length == 0 or dr_form.status.value == "OPEN" %}
                  {% render_field dr_form.status|attr:"disabled:True" class="form-control h5 font-weight-bold" %}
                {% else %}
                  {% render_field dr_form.status class="form-control h5 font-weight-bold" %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% comment %} <input type="hidden" name="form_ctrl" value="dr_form"> {% endcomment %}
        <button id="save_btn" type="submit" name="form_ctrl" value="dr_form" class="btn btn-success pull-right pl-3 pr-3 ">Save</button>
        <button id="back_btn" type="submit" name="form_ctrl" value="back_btn" class="btn btn-danger pull-right pl-3 pr-3 mr-2">Back</button>
      </form>
        {% if dr_items|length > 0 and dr_form.status.value == "OPEN" %}
          <button id="print_btn" class="btn btn-primary pull-left pl-3 pr-3 ">Print</button>
        {% endif %}
        <div class="clearfix"></div>
    </div>
  </div>
  </div>
</div>

<!-- DR Modal -->
<div class="modal fade" id="dritemModal" tabindex="-1" role="dialog" aria-labelledby="dritemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h3 font-weight-bold" id="dritemModalLabel"><span id="dritemTransactionTitle"></span> Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  {% comment %} <label class="bmd-label-floating">Product No.</label> {% endcomment %}
                  <label >Product No.</label>
                  {% render_field item_form.product_no class="form-control datepicker h5 font-weight-bold" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  {% comment %} <label class="bmd-label-floating">Wos No.</label> {% endcomment %}
                  <label >Wos No.</label>
                  {% render_field item_form.wos_no class="form-control h5 font-weight-bold" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <div class="form-group input-group-prepend">
                  {% comment %} <label class="bmd-label-floating" >1ST</label> {% endcomment %}
                  <label class="" >1ST</label>
                  {% render_field item_form.first_quantity class="form-control h5 font-weight-bold " %}
                </div>
              </div>
            </div>
            {{item_form.second_quantity}}
            {{item_form.third_quantity}}
            {{item_form.fourth_quantity}}
            {{item_form.fifth_quantity}}
            {{item_form.control_noFK}}
          </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="form_ctrl" name="form_ctrl" value="">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete DR Modal -->
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-weight-bold"><i class="material-icons" style="font-size: 1.5em;">help</i> &nbsp; Printing Confirmation </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  text-center">
        <div class="font-weight-bold text-dark h3" >Did you print the document properly?</div>
        <p class="text-danger p-0 m-0">*Please answer correctly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="printy">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="remarks_div" style="display: none; position: absolute; top:305px; left:750px; font-size: 24px;"></div>
<div id="date_div" style="display: none; position: absolute; top:174px !important; left:790px; "></div>
<div id="customer_div" style="display: none; position: absolute; top:174px !important; left:130px;"></div>
<div id="prepare_div" style="display: none; position: absolute; top:500px; left:130px;">{{user.first_name|upper}} {{user.last_name|upper}}</div>
<div id="signature_div" style="display: none; position: absolute; top:500px; left:760px;"></div>
{% endblock content %}

{% block scriptNotReady %}

  function drItemTransaction(pk, product_no, wos_no, fq) {
    if (pk == "" ) {
      $('#dritemTransactionTitle').text("New");
      $('#id_product_no').val("");
      $('#id_wos_no').val("");
      $('#id_first_quantity').val("");
      $('#form_ctrl').val('new_item');
    } else {
      $('#dritemTransactionTitle').text("Edit");
      $('#id_product_no').val(product_no);
      $('#id_wos_no').val(wos_no);
      $('#id_first_quantity').val(fq);
      $('#form_ctrl').val(pk);
    }
  }

  function afterPrint(){
      $('#printModal').modal();
  }
{% endblock scriptNotReady %}

{% block script %}
  $('#new_item_btn').focus();

  $('.modal').on('shown.bs.modal', function() {
    $("#id_product_no").focus();
  });

  $('#id_date_created').datepicker({
    dateFormat: 'yy-mm-dd'
  });
  
  
  var total_quantity = 0;
  $(".quantity").each(function() {
      var value = $(this).text();
      if(!isNaN(value) && value.length != 0) {
          total_quantity += parseFloat(value);
      }
  });

  $('#print_btn').on('click', function() {  
      var datep =new Date($('#id_date_created').val());
      var cusp =$("#id_customer").val() + " - " + $("#id_line").val();
      $('#remarks_div').text("TOTAL: " + total_quantity);
      $('#date_div').text(('0' + (datep.getMonth()+1)).slice(-2) + "-" + ('0' + datep.getDate()).slice(-2) + "-" + datep.getFullYear());
      $('#customer_div').text(cusp);
      $('#signature_div').text($("#id_approver").val());
      window.print();  
  });
  
  $('#save_btn').on('click', function(){
    $( ".card-body :input" ).prop('disabled', false);
  });
  
  $('#printy').on('click', function(){
      $("#id_status").val("WAITING");
      $("#save_btn").trigger( "click" );
  });

  if ("{{dr_form.status.value}}" == "WAITING") {
    $("#id_status option[value='OPEN']").attr('disabled','disabled');
  }
{% endblock script %}